# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.lock
*.egg-info/

# Virtual environment
.venv/
venv/


# PySide6 / Qt build artifacts
*.qmlc
*.qrc
*.rcc
*.ui
*.py~ 

# Nextflow
.nextflow/
work/

# Docker
*.dockerfile
Dockerfile*
docker-compose.yml

# VS Code
.vscode/
*.code-workspace

# OS / System
.DS_Store
Thumbs.db

*.sh
